body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
.TOOLS{
    margin-top: -15px;
}
.TITLE{
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 900px;
    text-align: center;
}
#navbar{
    width: 300px;
    background-color: #f4f4f4;
    padding: 20px;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    overflow: auto;
}
#navbar header{
    margin-bottom: 20px;
    font-size: 1.5rem;
}
.nav-link{
    display: block;
    margin-bottom: 10px;
    text-decoration: none;
    color: #333;
    padding: 5;
    border-radius: 4px;
}
.nav-link:hover{
    background-color: #ddd;
}
#main-doc{
    margin-left: 300px;
    padding: 20px;
    flex: 1;
}
.TIP{
    color: #333;
    font-size: smaller;
}
.main-section{
    margin-bottom: 40px;
}
.main-header{
    font-size: 1.8rem;
    margin-bottom: 20px;
}
code{
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: monospace;
}
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background: BLACK;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 24px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: all 0.3s;
    z-index: 100;
}
 ul {
      margin-left: 20px;
}

.back-to-top:hover {
    background: #ddd;
    transform: translateY(-5px);
}