body{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
}
#navbar{
    width: 300px;
    background-color: black;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    height: 100vh;
    overflow: auto;
    color: white;
}
